  <h1 style="text-align: center;">To Do List</h1>
  <img src="./assets/todolist.png" alt="todo_list" class="image"/><br>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-3">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter task" aria-label="Enter Todo" aria-describedby="button-addon2" [(ngModel)] ="newTodo"/>&nbsp;
          <div class="input-group-addon hover-cursor" (click)="saveTodo()">
            <i class="fa fa-plus-circle fa-2x"></i>
          </div>
        </div>
        <div style="margin:5px 0px">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let todo of todos; let i = index;">
              <span>{{i+1}}.</span>&nbsp;
              <span class="{{(!todo.isCompleted)?'done':''}}" (click)="done(i)" style="color:black;cursor: pointer;">{{todo.name}}</span>
              <span class="hover-cursor text-danger pull-right" (click)="remove(i)" style="cursor: pointer;" >
                <i class="fa fa-trash-o fa-lg"></i>
              </span>
            </li>
          </ul>
        </div>
       
 